/*Layout Style*/

@font-face {
    font-family: 'f1_font';
    src: url('../fonts/font_f1_regular.otf') format('opentype');
}

* {
    font-family: 'f1_font', sans-serif !important;
}

body {
    background-color: white;
    margin: 0px;
}

#layoutSection {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 120px;
}

h1 {
    color: red;
    text-align: center;
    font-family: ui-sans-serif;
    font-size: 2.5em;
}

#userPanel {
    padding: 5px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    float: right;
}

#topnav {
    top: 0;
    background-color: #333;
    border-radius: 0 0 10% 10%;
    overflow: hidden;
    border: 0;
    margin: 0;
    padding: 8px;
    position: sticky;
}

#topnav a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 15px 25px;
    text-decoration: initial;
    border-bottom: none;
}

#topnav a:hover {
    background-color: white;
    color: black;
    border-radius: 20%;
}

#topnav a.active {
    background-color: red;
    color: white;
    font-size: 120%;
    border-radius: 20%;
}

#footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 10% 10% 0 0;
}

#contact {
    text-decoration: none;
    color: white;
}

.indexDescription {
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}

.indexDescription a {
    text-decoration: none;
    color:inherit;
    font-weight: bold;
}

/*Table Style*/

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width:max-content;
}
  

tr:hover {
    background-color: #ffdf00;
}

.table-caption {
    font-size: 18px;
    text-align: left;
    padding: 5px 40px;
    color: #555;
    text-transform: uppercase
}

/* Form Style */

input[type=number] {
    appearance: textfield;
}

.take_info_form {
    width: 30%;
    background-color: #333;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid black;
    outline: none;
    color:white;
    font-weight: 500;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input[type=text], input[type=password], input[type=email], textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 15px;
    box-sizing: border-box;
    border: 3px solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/* Button Style */

.f1-button {
    background-color: red;
    border: none;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    width: max-content;
}

.f1-button:hover {
    background-color: green;
}

/* Filter Style */

.dropdown-content {
    display: none;
    position:absolute;
    padding:1em;
    background-color: #333;
    width: max-content;
}
.dropdown-content label {    
    color:white
}

.filterButtonArea {
    display:flex;
}

.formCheckboxes {
    display:flex;
}

.filterButton {
    margin: 0 1em 0 1em;
    height: 100%;
}

.filterArea {
    display:flex;
    float: right;
    margin-bottom: 3em;
    padding:0;
}

.searchBox {
    width: fit-content;
    float:right;
    margin: 0 3em 0 0 !important;
    padding: 0 !important;
}

.searchBoxForm {
    width: fit-content;
}

.searchBoxArea {
    width:25em !important;
}

/* List Style */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
}

li:hover {
    background-color: #ddd;
}

/* Page Style */

.pageRadio {
    display:inline;
    margin-right: 2em;
}