@font-face {
    font-family: 'f1_font';
    src: url('../fonts/font_f1_regular.otf') format('opentype');
}

* {
    font-family: 'f1_font', sans-serif !important;
}

body {
    background-color: white;
}

article {
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:150px;
}

h1 {
    color: red;
    text-align: center;
    font-family: ui-sans-serif;
    font-size: 2.5em;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  

tr:hover {
    background-color: #ffdf00;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo {
    left: 0;
    top: 0;
}

body {
    margin: 0px;
}

.topnav {
    top: 0;
    background-color: #333;
    border-radius: 0 0 10% 10%;
    overflow: hidden;
    border: 0;
    margin: 0;
    padding: 0;
    position: sticky;
}

.topnav a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: initial;
    border-bottom: none;
}

.topnav a:hover {
    background-color: #ffdf00;
    color: black;
    border-radius: 20%;
    border: 3px solid black;
}

.topnav a.active {
    background-color: red;
    color: white;
    font-size: 120%;
    border-radius: 20%;
}

.table-caption {
    font-size: 18px;
    text-align: left;
    padding: 5px 40px;
    color: #555;
    text-transform: uppercase
}

form {
    width: 30%;
    background-color: #333;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid black;
    outline: none;
    color:white;
    font-weight: 500;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 15px;
    box-sizing: border-box;
    border: 3px solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#user_panel {
    float: right;
}

#footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 17px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#contact {
    text-decoration: none;
    color: white;
}

.f1-button {
    background-color:red; /* Kırmızı tonu */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease; /* Arka plan renginde geçiş efekti */
  }
  
  .f1-button:hover {
    background-color: green; /* Hover durumunda renk değişimi */
  }