<div class="filterArea">
    <div class="searchBox">
        <form method="POST" id="searchBoxForm" action={{action}}>
            <label for="search">Search</label>
            <input type="text" placeholder="type.." class="searchBoxArea" name="search" id="searchBoxArea" {% if
                lastSearched !="" %} value={{lastSearched}} {% endif %}>
        </form>
    </div>
    <div class="filterButtonArea">
        <div class="limitter">
            <form method="post" id="limitterForm">
                <label for="limNumber"></label>
                <select id="limNumber" name="limitter">
                    <option {% if limitter|string=="10" %}selected{% endif %}>10</option>
                    <option {% if limitter|string=="20" %}selected{% endif %}>20</option>
                    <option {% if limitter|string=="50" %}selected{% endif %}>50</option>
                    <option {% if limitter|string=="100" %}selected{% endif %}>100</option>
                    <option {% if limitter|string=="All" %}selected{% endif %}>All</option>
                </select>
            </form>
        </div>
        <div class="filterButton">
            <button onclick="toggleDropdownButton('dropdownContentShow', 'dropdownContentOrderBy')"
                class="f1-button">Show</button>
            <div class="dropdown-content" id="dropdownContentShow">
                <form method="POST" id="showForm">
                    {% for item in allColumns: %}
                    <div class="formCheckboxes">
                        <label for={{item}} class="checkboxLabel">{{item|capitalize}}</label>
                        <input type="checkbox" class="checkboxCheckbox" name={{item}} id={{item}} value="show" {% if
                            item in selectedShowColumns %}checked{% endif %}>
                    </div>
                    <br>
                    {% endfor %}
                    <br>
                    <br>
                    <input type="button" class="f1-button"
                        onclick="combineAndSendForms(action, 'showForm', 'orderByForm', 'searchBoxForm', 'limitterForm')" value="Apply">
                </form>
            </div>
        </div>
        <div class="filterButton">
            <button onclick="toggleDropdownButton('dropdownContentOrderBy', 'dropdownContentShow')"
                class="f1-button">Order By</button>
            <div class="dropdown-content" id="dropdownContentOrderBy">
                <form method="POST" id="orderByForm">
                    {% for item in allColumns: %}
                    <div class="formCheckboxes">
                        <label for={{item}} class="checkboxLabel">{{item|capitalize}}</label>
                        <input type="radio" class="checkboxCheckbox" name="orderBy" id={{item}} value={{item}} {% if
                            orderBy==item %}checked{% endif %}>
                    </div>
                    <br>
                    {% endfor %}
                    <br>
                    <br>
                    <input type="button" class="f1-button"
                        onclick="combineAndSendForms(action, 'showForm', 'orderByForm', 'searchBoxForm', 'limitterForm')" value="Apply">
                </form>
            </div>
        </div>
    </div>
</div>