<div class="filterArea">
    <div class="searchBox">
        <form method="POST" id="searchBoxForm" , action={{action}}>
            <label for="search">Search</label>
            <input type="text" placeholder="type" class="searchBoxArea" name="search" id="searchBoxArea">
        </form>
    </div>
    <div class="filterButton">
        <button onclick="toggleDropdownButton('dropdownContentFilter', 'dropdownContentOrderBy', 'dropdownContentShow')"
            class="f1-button">Filter</button>
        <div class="dropdown-content" id="dropdownContentFilter">
            <form method="POST" id="filterForm">
                {% for key in checkboxDict.keys(): %}
                <div class="formCheckboxes">
                </div>
                <br>
                {% endfor %}
                <br>
                <br>
                <input type="button" class="f1-button"
                    onclick="combineAndSendForms(action, 'showForm', 'orderByForm', 'searchBoxForm', 'filterForm')"
                    value="Apply">
            </form>
        </div>
    </div>
    <div class="filterButtonArea">
        <div class="filterButton">
            <button
                onclick="toggleDropdownButton('dropdownContentShow', 'dropdownContentFilter', 'dropdownContentOrderBy')"
                class="f1-button">Show</button>
            <div class="dropdown-content" id="dropdownContentShow">
                <form method="POST" id="showForm">
                    {% for key in checkboxDict.keys(): %}
                    <div class="formCheckboxes">
                        <label for={{key}} class="checkboxLabel">{{checkboxDict[key]}}</label>
                        <input type="checkbox" class="checkboxCheckbox" name={{key}} id={{key}} value="show" {% if
                            checkboxDict[key] in headers %}checked{% endif %}>
                    </div>
                    <br>
                    {% endfor %}
                    <br>
                    <br>
                    <input type="button" class="f1-button"
                        onclick="combineAndSendForms(action, 'showForm', 'orderByForm', 'searchBoxForm', 'filterForm')"
                        value="Apply">
                </form>
            </div>
        </div>
        <div class="filterButton">
            <button
                onclick="toggleDropdownButton('dropdownContentOrderBy', 'dropdownContentFilter', 'dropdownContentShow')"
                class="f1-button">Order By</button>
            <div class="dropdown-content" id="dropdownContentOrderBy">
                <form method="POST" id="orderByForm">
                    {% for key in checkboxDict.keys(): %}
                    <div class="formCheckboxes">
                        <label for={{key}} class="checkboxLabel">{{checkboxDict[key]}}</label>
                        <input type="radio" class="checkboxCheckbox" name="orderBy" id={{key}} value={{key}} {% if key
                            in orderBy %}checked{% endif %}>
                    </div>
                    <br>
                    {% endfor %}
                    <br>
                    <br>
                    <input type="button" class="f1-button"
                        onclick="combineAndSendForms(action, 'showForm', 'orderByForm', 'searchBoxForm', 'filterForm')"
                        value="Apply">
                </form>
            </div>
        </div>
    </div>
</div>