{% extends 'layout.html' %}
{% block title %}Drivers{% endblock %}
{% block content %}
{% block head %}
    {{ super() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById("circuits").classList.add('active');
        });
    </script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var rows = document.querySelectorAll(".clickable-row");
        rows.forEach(function (row) {
            row.addEventListener("click", function () {
                window.location = row.dataset.href;
            });
        });
    });
</script>
{% endblock %}

<h1>Circuits</h1>

{% if context['context'] %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Location</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for circuit in context['context'] %}
                <tr class="clickable-row" data-href="{{ url_for('circuitDetails', circuitName=circuit[0]) }}">
                    <td>{{ loop.index }}</td>
                    <td>{{ circuit[0] }}</td>
                    <td>{{ circuit[1] }}</td>
                    <td>{{ circuit[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No circuits found.</p>
{% endif %}
{% endblock %}

