{% extends 'layout.html' %}

{% block title %}Drivers{% endblock %}
{% block content %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById("drivers").classList.add('active');
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var rows = document.querySelectorAll(".clickable-row");
        rows.forEach(function (row) {
            row.addEventListener("click", function () {
                window.location = row.dataset.href;
            });
        });
    });
</script>

<h1>Drivers</h1>

{% if context['context'] %}
<div id="show_attributes">
    <button onclick="toggleDropdown()" class="f1-button">Show</button>
    <div class="dropdown-content" id="dropdownContent">
        <form method="POST" action="/drivers" id="show_form">
            {% for key in context['column_dict'].keys(): %}
            <div class="driver_form_checkboxes">
                <label for={{key}} class="checkbox_label">{{context['column_dict'][key]}}</label>
                <input type="checkbox" class = "checkbox_checkbox"name={{key}} id={{key}} value="on">
            </div>
            <br>
            {% endfor %}
            <br>
            <br>
            <input type="submit" value="Apply" class="f1-button">
        </form>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            {% for header in context['headers'] %}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for driver in context['context'] %}
        <tr class="clickable-row" data-href="{{ url_for('drivers.driverDetails', driverSlug=driver[0]) }}">
        <tr>
            {% for d in range(driver|length) %}
            <td>{{ driver[d]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No drivers found.</p>
{% endif %}
{% endblock %}