{% extends "layout.html" %}
{% block title %}OnlyF1s{% endblock %}
{% block content %}
{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/blink.css') }}">
<script src="{{ url_for('static', filename='js/blink.js') }}"></script>
{{ super() }}

{% endblock %}

<body>
  <h1 id="gameBlink">F1 Blink Test</h1>
  <div class="blinkTest">
    <p>
        Welcome to the Grid Light Test which is known as "The Blink Test".
    </p>
    <p>
        For a second think yourself as a F1 driver. The race will be start soon and you are waiting for the lights.
    </p>
    <p>
        Even milliseconds are important! You cannot blink now!!
    </p>
    <p>
        Lights slowly turns red aaaand...
    </p>
    <p>
       GREEN!!! GO!!
    </p>
    <p>
        So this test determines your respond time. Have it a try!!
    </p>
    <p>
      |
    </p>
    <p>
      |
    </p>
    <p>
      |
    </p>
    
    <div id="game-container">
      <div class="light" style="left: 60px;"></div>
      <div class="light" style="left: 130px;"></div>
      <div class="light" style="left: 200px;"></div>
      <div class="light" style="left: 270px;"></div>
    </div>
    <button class="f1-button" id="start-button">Start Game</button>
    <p id="lights-clicked">Lights Turned: 0</p>
    <p id="last-response-time" style="display: none;">Last Response Time: N/A</p>
  </div>
</body>
{% endblock %}