<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" class='image' href="{{ url_for('static', filename='img/F1.svg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/table.js') }}"></script>
        <script src="{{ url_for('static', filename='js/filter.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div id="topnav">
            <a href="/" class="logo">
                <img src="{{ url_for('static', filename='img/F1.svg') }}" alt="F1">
            </a>
            <a id='drivers' href="{{ url_for('drivers.drivers') }}">Drivers</a>
            <a id='circuits' href="{{ url_for('circuits.circuits') }}">Circuits</a>
            <a id='constructors' href="{{ url_for('constructors.constructors') }}">Constructors</a>
            <a id='seasons' href="{{ url_for('seasons.seasons') }}">Seasons</a>
            <a id='quiz' href="{{ url_for('quiz.quiz') }}">Quizzes</a>
            <a id='gameBlink' href="{{ url_for('gameBlink.gameBlink') }}">Blink Game</a>
            <a id='raceResults' href="{{ url_for('raceResults.raceResults') }}">Race Results</a>
            <a id='rankings' href="{{ url_for('rankings.rankings') }}">Rankings</a>
            <div id="userPanel">
                {% if session["userId"] is defined %}
                    <a id='userInfo' href="{{ url_for('auth.user') }}" >{{ session["userName"] }}</a>
                    <a id='logout' href="{{ url_for('auth.logout') }}">Log Out</a>
                {% else %}
                    <a id='login' href="{{ url_for('auth.login') }}">Login</a>
                    <a id='register' href="{{ url_for('auth.register') }}">Sign Up</a>
                {% endif %}
            </div>
        </div>
        <section id="layoutSection">
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="showTable">{% block tablediv %}{% endblock %}</div>
        </section>
        <footer id="footer">©2023, OnlyF1s<br><br><b><a id='contact' href='/contact/'>Contact Us</a></b></footer>
    </body>
</html>
