<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" class='image' href="{{ url_for('static', filename='img/F1.svg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/table.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="topnav">
            <a href="/" class="logo">
                <img src="{{ url_for('static', filename='img/F1.svg') }}" alt="F1">
            </a>
            <a id='drivers' href="/drivers">Drivers</a>
            <a id='circuits' href="/circuits">Circuits</a>
            <a id='seasons' href="/seasons">Seasons</a>
            <a id='quiz' href='/quiz'>Quizzes</a>
            <a id='gameBlink' href='/gameBlink'>Blink Game</a>
            <a id='raceResults' href="/raceResults">Race Results</a>
            <div id="user_panel">
                <a id='login' href='/auth/login'>Login</a>
                <a id='signUp' href='/auth/signUp'>Sign-up</a>
            </div>
        </div>
        <article>
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="show-table">{% block tablediv %}{% endblock %}</div>
        </article>
        <footer id="footer">©2023, OnlyF1s<br><br><b><a id='contact' href='/contact'>Contact Us</a></b></footer>
    </body>
</html>
