<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" class='image' href="{{ url_for('static', filename='img/F1.svg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/table.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="topnav">
            <a href="/" class="logo">
                <img src="{{ url_for('static', filename='img/F1.svg') }}" alt="F1">
            </a>
            <a id='home' href="/">Home</a>
            <a id='raceResults' href="/raceResults">Race Results</a>
        </div>

        <div id="content">{% block content %}{% endblock %}</div>
        <div id="show-table"></div>
        <div>{% block tablediv %}{% endblock %}</div>
    </body>
</html>